<div id="selfInfo"  ng-controller="selfInfoCtrl">
        <form class="form-horizontal">
            <div class="title control-group ">
                <label class="control-label" >个人信息</label>
            </div>
            <div class="control-group">
                <label class="control-label">用户名:</label>
                <div class="controls">
                    <p id="calledName" ng-model="selfInfo.calledName"></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">密码:</label>
                <div class="controls">
                    <button class="btn btn-success" ng-click="changePassword(ticketInfo)" >修改密码</button>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">信用度:</label>
                <div class="controls">
                    <p id="credit" ng-model="selfInfo.credit"></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">账户余额:</label>
                <div class="controls">
                    <p id="money" ng-model="selfInfo.money"></p>
                </div>
            </div>
        </form>
</div>