<div id="register" registerCtrl="registerCtrl">
  <form class="form-horizontal">
    <div class="title control-group">
      <label class="control-label" >注册</label>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">用户名</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="email" placeholder="" ng-model="registerInfo.username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">密码</label>
      <div class="controls">
        <input type="password" id="inputPassword" class="password" placeholder="" required ng-model="registerInfo.password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputConfirmPassword">确认密码</label>
      <div class="controls">
        <input type="password" id="inputConfirmPassword" placeholder="" required ng-model="registerInfo.confirmPassword">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputRole">注册角色</label>
      <div class="controls">
        <select id="inputRole" ng-model="registerInfo.currentRole" class="form-control" ng-options="role.roleName for role in roleList">
          <option value="">请选择角色</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="button" class="btn btn-success" ng-click="register(registerInfo)" >确认注册</button>
        <button type="reset" class="btn btn-warning">重置</button>
      </div>
    </div>
  </form>
</div>
