<!--<p>This is the partial for view 1.</p>-->

<div id="login" ng-controller="loginCtrl">
    <form class="form-horizontal" ng-submit="login(loginInfo)" novalidate>
        <div class="title control-group">
            <label class="control-label">登录</label>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUsername">用户名</label>
            <div class="controls">
                <input type="text" id="inputUsername" placeholder="" required ng-model="loginInfo.username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">密码</label>
            <div class="controls">
                <input type="password" id="inputPassword" placeholder="" required ng-model="loginInfo.password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <span><a href="#/register">注册一个新账号</a></span>
                </label>
                <button type="submit" class="btn btn-success" >登录</button>
            </div>
        </div>
    </form>
</div>
