<div id="basicInfo">
        <form class="form-horizontal">
            <div class="title control-group ">
                <label class="control-label" >个人信息</label>
            </div>
            <div class="control-group">
                <label class="control-label">用户名:</label>
                <div class="controls">
                    <p id="calledName" ng-bind="selfInfo.calledName"></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">密码:</label>
                <div class="controls">
                    <button class="btn btn-success" data-toggle="modal" data-target="#passwordDetail" >修改密码</button>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">信用度:</label>
                <div class="controls">
                    <p id="credit" ng-bind="selfInfo.credit"></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">账户余额:</label>
                <div class="controls">
                    <p id="money" ng-bind="selfInfo.money"></p>
                </div>
            </div>
        </form>
    <div class="modal fade" id="passwordDetail" tabindex="-1" role="dialog"
         aria-labelledby="addressDetailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改密码
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="oldPassword">旧密码</label>
                            <div class="controls">
                                <input type="text" id="oldPassword" placeholder="" required ng-model="changInfo.oldPassword">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="newPassword">新密码</label>
                            <div class="controls">
                                <input type="text" id="newPassword" placeholder="" required ng-model="changInfo.newPassword">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="newPassword_2">确认密码</label>
                            <div class="controls">
                                <input type="text" id="newPassword_2" placeholder="" required ng-model="changInfo.newPassword_2">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" ng-click="changePassword(changInfo)">修改
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</div>