<div class="modal-dialog" ng-controller="orderCtrl">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
                <span>单号：{{orderDetail.orderId}} {{orderDetail.description}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" >
                <div class="control-group">
                    <label class="control-label" for="payment" >费用：</label>
                    <div class="controls">
                        <input type="text" id="payment" ng-model="orderDetail.payment" ng-readonly="readOnly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="orgCalledName">发货人称呼：</label>
                    <div class="controls">
                        <input type="text" id="orgCalledName" ng-model="orderDetail.orgAddress.calledName" ng-readonly="readOnly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="orgPhoneNo">联系方式：</label>
                    <div class="controls">
                        <input type="text" id="orgPhoneNo" ng-model="orderDetail.orgAddress.phoneNo" ng-readonly="readOnly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="orgAddressDesc">地址：</label>
                    <div class="controls">
                        <input type="text" id="orgAddressDesc" ng-model="orderDetail.orgAddress.addressDesc" ng-readonly="readOnly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="destCalledName">收货人称呼：</label>
                    <div class="controls">
                        <input type="text" id="destCalledName"  ng-model="orderDetail.destAddress.calledName" ng-readonly="readOnly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="destPhoneNo">联系方式：</label>
                    <div class="controls">
                        <input type="text" id="destPhoneNo" ng-model="orderDetail.destAddress.phoneNo" ng-readonly="readOnly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="destAddressDesc">地址：</label>
                    <div class="controls">
                        <input type="text" id="destAddressDesc" ng-model="orderDetail.destAddress.addressDesc" ng-readonly="readOnly">
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">关闭
            </button>
        </div>
    </div><!-- /.modal-content -->
</div>
